.text-reset{
    text-decoration: none;
}
#foot{
    background-color:	#666666;
    /* background-color:rgba(49, 49, 49, 0.911); */
    padding: 0%;
    width:100%;
    margin-top: 20px;
    opacity: 0.8;
    color: black;
}
#span{
   padding: 20px;
}
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
#footer{
    padding: 0%;
    margin: 0%;
    width: 100%;
    color: white;
}
.foot2,.footend,.footlink{
    color: white;
}